<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Fontawesome Icons link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
      <div id="app" class="container-complessivo">

        <!-- INIZIO HEADER CON IL PRIMO JUMBOTRON -->
        <header id="primoJumbotronTable">
            <div class="logo-menu">
                <div class="logo-sinistra">
                    <img src="images/logo-restaurant-2x-300x58.png" alt="logo ristorante">
                </div>
    
                <nav class="menu-destra">
                    <ul class="menu-destra-link">
                        <li v-for='link in menuDestra'>
                            <a href="#">
                                {{link.nome}}
                                <span class="bordo-new" v-if="link.tag != ''">{{link.tag}}</span>
                            </a>
                        </li>
                        <i class="fas fa-shopping-cart"></i>
                    </ul>
                </nav>
            </div> <!-- logo-menu -->
            <div class="container-grande">

                <div class="best-table">

                    <div class="barra">
                    </div>
                    <div class="table">
                        <p v-for="elemento in bestTable">{{elemento.name}}</p>
            
                        <h1 v-for="elemento in bestTable">{{elemento.title}}</h1>
            
                        <p v-for="elemento in bestTable">{{elemento.description}}</p>
            
                        <button class="bottone-bordo-bianco">EXPLORE THE MENU</button>
                    </div>
                
                </div>
            </div><!-- container-grande -->
            

        </header>
        <!-- FINE HEADER CON IL PRIMO JUMBOTRON -->

        <main>
            <!--  INIZIO PRIMA SESSIONE SUSHI-->
            <section id="prima-sessione-sushi">
                <div class="container-piccolo">

                    <!-- INIZIO PRIMA SESSIONE UP -->
                    <div class="prima-sessione-up">
                        <div class="firma">
                            <p v-for="elem in sessioneUp">
                                <strong>{{elem.textStrong}}</strong> {{elem.textNormal}}
                            </p>
        
                            <h1 v-for="elem in sessioneUp">{{elem.title}}</h1>
        
                            <p v-for="elem in sessioneUp">
                                {{elem.textNormal2}}
                            </p>
                            <img src="images/signature.jpg" width="150" height="130" alt="firma">
                        </div><!-- firma -->
                        
                        <div class="immagine-sushi">
                            
                        </div>
                    </div><!-- prima-sessione-up -->
                    <!-- FINE PRIMA SESSIONE UP -->

                    <!-- INIZIO PRIMA SESSIONE DOWN -->
                    <div class="prima-sessione-down">
                        <ul class="tipologie-sushi-lista">
                            <li v-for="tipo in tipologieSushi" class="tipologia-sushi-lista-elem">
                                <div class="tipologia-sushi-lista-elem-img">
                                    <img :src="'img/' + tipo.img + '.png'" :alt="tipo.name">
                                </div>
                                <h4 class="title">{{tipo.name}}</h4>

                                <div class="barra-grigio">

                                </div>

                                <p>{{tipo.description}}</p>
                                <a href="#"></a><button class="button-sushi">{{tipo.link}}</button></a>
                            </li>
                        </ul>
                    </div><!-- prima-sessione-down -->
                </div><!-- container-piccolo -->
                    <!-- FINE PRIMA SESSIONE DOWN -->
    
            </section>
            <!-- FINE PRIMA SESSIONE SUSHI-->

            <!-- INIZIO SECONDA SESSIONE PIATTI SUSHI -->
            <section class="seconda-sessione-piatti-sushi">

                    <div class="immagine-piatti-sushi">

                    </div>
                    <div class="best-table-2">
    
                        <div class="barra">
                        </div>
                        <div class="table-2">
                            <p class="text-table2">FINE DINING EXPERIENCE</p>
                
                            <h2 class="title-table2">THE BEST TABLE IN TOWN</h2>
                
                            <p class="text-table2">
                                Pellentescque vitae viverra risus, sagittis.
                                Venetatis ridiculus scelerisque nisi in urna
                                nulla.
                            </p>
                
                            <button class="bottone-bordo-bianco">EXPLORE THE MENU</button>
                        </div>
                    
                    </div><!-- best-table -->
                
            </section><!-- seconda-sessione-piatti-sushi -->
            <!-- INIZIO SECONDA SESSIONE PIATTI SUSHI -->

            <!-- INIZIO TERZA SESSIONE RAGAZZA CHE CUCINA -->
            <section class="terza-sessione-ragazza-cucina">
                <div class="container-piccolo">

                    <h2 id="title-terza-sessione">What critics are saying about us</h2>
                    <div class="barra-grigio-titoli">

                    </div>

                    <div class="container-immagini-sopra">
                        <div class="ragazza-cuoca">

                        </div>

                        <div class="descrizione-meggy-stewart">

                            <p v-for="elemento in maggy">{{elemento.name}}</p>
                            <h2 v-for="elemento in maggy" class="paper-meggy">{{elemento.paper}}</h2>


                            <!-- CINQUE STELLE CON IL V-FOR -->
                            <ul class="stelle stelle-meggy">
                                <li class="stelle-link">
                                    <i v-for="num in 5" class="fas fa-star"></i>
                                </li>
                            </ul>
                            <!-- CINQUE STELLE CON IL V-FOR -->
                            
                            <div class="barra barra-meggy">
                            </div>
                            <p v-for="elemento in maggy">{{elemento.description}}</p>

                            <p v-for="elemento in maggy">{{elemento.description2}}></p>

                            <button class="bottone-bordo-bianco">READ FULL ARTICLE</button>

                        </div>  <!-- descrizione-meggy-stewart -->
                    </div><!-- container-immagini-sopra -->

                    <div class="container-immagini-sotto">
                        
                        <div class="mary-maxey">
                            <div class="gradazione">
                                
                                <div class="descrizione-mary-maxey">

                                    <p v-for="elemento in maxey">{{elemento.name}}</p>
                                    <h2 v-for="elemento in maxey" class="paper-maxey">{{elemento.paper}}</h2>
        
                                    <!-- CINQUE STELLE CON IL V-FOR -->
                                    <ul class="stelle">
                                        <li class="stelle-link">
                                            <i v-for="num in 5" class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                    <!-- CINQUE STELLE CON IL V-FOR -->
                                    
                                    <div class="barra">
                                    </div>
                                    <p v-for="elemento in maxey">{{elemento.description}}</p>
        
                                    <button class="bottone-bordo-bianco">READ FULL ARTICLE</button>
        
                                </div>  <!-- descrizione-mary-maxey -->

                            </div><!-- gradazione -->
                        </div><!-- mary-maxey -->

                        <div class="patrick-monroe">
                            <div class="gradazione">
                                
                                <div class="descrizione-patrick-monroe">
                                    <p v-for="elemento in patrik">{{elemento.name}}</p>
                                    <h2 v-for="elemento in patrik" class="paper-patrik">{{elemento.paper}}</h2>
        
                                    <!-- CINQUE STELLE CON IL V-FOR -->
                                    <ul class="stelle">
                                        <li class="stelle-link">
                                            <i v-for="num in 5" class="fas fa-star"></i>
                                        </li>
                                    </ul>
                                    <!-- CINQUE STELLE CON IL V-FOR -->
                                    
                                    <div class="barra">
                                    </div>
                                    <p v-for="elemento in patrik">{{elemento.description}}</p>
        
                                    <button class="bottone-bordo-bianco">READ FULL ARTICLE</button>
        
                                </div>  <!-- descrizione-patrick-monroe -->
                             </div><!-- gradazione -->
                        </div><!-- patrick-monroe -->
                    </div><!-- container-immagini-sotto -->
                    
                </div><!-- container-piccolo -->
            </section>
            <!-- FINE TERZA SESSIONE RAGAZZA CHE CUCINA -->

            <!-- INIZIO QUARTA SESSIONE FOTO RAVIOLI -->
            <section class="quarta-sessione-foto-ravioli">
                <div class="gradazione2">
                    <p class="prezzo-piatto">KUNG PAO CHICKEN - $32</p>
                </div>
            </section>
            <!-- FINE QUARTA SESSIONE FOTO RAVIOLI -->

            <!-- INIZIO QUINTA SESSIONE FOTO TRE  -->
            <section class="quinta-sessione-3-foto">
                <div class="container-piccolo">

                    <h2 id="title-quinta-sessione">Latest new ℇ promotion</h2>
                    <div class="barra-grigio-titoli-quinta-sessione">

                    </div>

                    <div class="prodotti-nuovi">
                        <div v-for="prodotto in prodottoCoffee">
                            <div class="prodott-nuovo-immagine-caffe">
                                
                            </div>
                            <div class="start">
                                <h3 class="title-prodotti">{{prodotto.title}}</h3>
                                <p class="categories-new">{{prodotto.make}} | {{prodotto.data}} | {{prodotto.categories}}</p>
                            </div>
                        </div>
                        <div v-for="prodotto in  prodottoNewMenu">
                            <div class="prodott-nuovo-newMenu">
                                
                            </div>
                            <div class="start">
                                <h3 class="title-prodotti">{{prodotto.title}}</h3>
                                <p class="categories-new">{{prodotto.make}} | {{prodotto.data}} | {{prodotto.categories}}</p>
                            </div>
                        </div>
                        <div v-for="prodotto in prodottoBancomant">
                            <div class="prodott-nuovo-Bancomant">
                                
                            </div>
                            <div class="start">
                                <h3 class="title-prodotti">{{prodotto.title}}</h3>
                                <p class="categories-new">{{prodotto.make}} | {{prodotto.data}} | {{prodotto.categories}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- FINE QUINTA SESSIONE 3 FOTO  -->

            <!-- INIZIO SESTA SESSIONE GIAPPONESI -->
            <section class="sesta-sessione-giapponesi">

                <div class="sesta-sessione-giapponesi-immagine">

                </div>
                <div class="consegna-domicilio">

                    <div class="barra">
                    </div>
                    <div class="domicilio">
                        <p class="text-domicilio">ENJOY YOUR MEAL AT HOME</p>
            
                        <h2 class="title-domicilio">TAKEOUT NOW AVAILABLE</h2>
            
                        <p class="text-domicilio">
                            Pellentescque vitae viverra risus, sagittis.
                            Venetatis ridiculus scelerisque nisi in urna
                            nulla non arcu moris tortor.
                        </p>
            
                        <button class="bottone-bordo-bianco"><i class="fas fa-car"></i>VIEW TAKEOUT MENU</button>
                    </div>
                
                </div><!-- best-table -->


            </section>
            <!-- FINE SESTA SESSIONE GIAPPONESI -->

            <!-- INIZIO SETTIMA SESSIONE MENU -->
            <section class="settima-sessione-menu">
                <div class="container-grande">
                    <div class="settima-sessione-menu-pagine">

                        <ul class="distribuzione pag1">

                            <h3 v-for="nome in nomiPagine" class="title-page">{{nome.namePage1}}</h3>
                            <li class="distribuzione-link" v-for="piatto in menu1">
                                <div class="settima-sessione-prezzo-piatto">
                                    <h5>{{piatto.nameDish}}</h5><span>${{piatto.price}}</span>
                                </div>
                                <p>{{piatto.description}}</p>
                            </li>
    
                        </ul>
>
                        <ul class="distribuzione pag2">

                            <div class="gradazione3 ">
                            </div>
                              <h3 v-for="nome in nomiPagine" class="title-page">{{nome.namePage2}}</h3>
                              <li class="distribuzione-link" v-for="piatto in menu2">
                                <div class="settima-sessione-prezzo-piatto">
                                   <h5>{{piatto.nameDish}}</h5><span>${{piatto.price}}</span>
                                </div>
                                <p>{{piatto.description}}</p>
                              </li>
                            

                        </ul>
                                

                                
                        <ul class="distribuzione pag3">

                            <h3 v-for="nome in nomiPagine" class="title-page">{{nome.namePage3}}</h3>
                            <li class="distribuzione-link" v-for="piatto in menu3">
                                <div class="settima-sessione-prezzo-piatto">
                                    <h5>{{piatto.nameDish}}</h5><span>${{piatto.price}}</span>
                                </div>
                                <p>{{piatto.description}}</p>
                            </li>

                        </ul>

                    </div><!-- settima-sessione-menu-pagine -->
                </div>
            </section>
            <!-- FINE SETTIMA SESSIONE MENU -->




        </main>
    
    </div><!--chiusura vue-->


    <!-- VUE JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>