* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    background-color: black;
}

.container-complessivo{
    max-width: 1440px;
    background-color: black;
    margin: auto;
}
li{
    list-style: none;
}
p{
    line-height: 25px;
    color: #bcbcbc;
}
.text-menu{
    color: #192c3a;
}
/* *UNICA PROPRIETA* */
header, table, .bottone-bordo-bianco,
.table-2, .stelle-link, .descrizione-meggy-stewart,
.mary-maxey, .patrick-monroe, .prezzo-piatto, .consegna-domicilio,
.pag2, .ottava-sessione-descrizione-abalone, .title-principal{
    color: white;
}
/* *UNICA PROPRIETA* */

/* *HEADER* */
header{
    /* color: white; */
    height: 100%;
}
header > .container-grande{
    transform: translateY(25%);
}
.logo-menu{
    display: flex;
    justify-content: center;
    height: 100px;
}

.logo-sinistra{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100px;
}

.menu-destra-link{
    display: flex;
    align-items: center;
    height: 100px;
    
}

/* .menu-destra-link > li{
    list-style: none;
} */

.menu-destra-link > li > a{
    text-decoration: none;
    margin-right: 5px;
    
}
/* *EFFETTO HOVER A LINK* */
.menu-destra-link > li > a:hover,
.fa-shopping-cart:hover{
    color: white;
}

.menu-destra-link > li > a, 
.fa-shopping-cart{
    color: #bcbcbc;
}

.bordo-new{
    border: 1px solid gray;
    padding: 2px 7px;
    font-weight: 600;
}
/* *FINE HEADER* */
/* *CREO CONTAINER GRANDE PER SESSIONI SUCCESSIVE * */
.container-grande{
    /* background-color: violet; */
    max-width: 1200px;
    margin: auto;
    min-height: 300px;
    
}
/* *CREO CONTAINER PICCOLO PER SESSIONI SUCCESSIVE * */
.container-piccolo{
    /* background-color: orange; */
    max-width: 1000px;
    margin: auto;
    min-height: 300px;
}
/* *REGOLE JUMBO* */
#primoJumbotronTable{
    background-image: url(../images/slider52x.jpg);
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

}
/* *REGOLE BEST TABLE* */

.best-table{
    display: flex;
    height: 400px;
}
    /* *REGOLE BARRA* */
.barra{
    border: 1px solid #bcbcbc;
    width: 50px;
    height: 0;
    margin-top: 7px;
    margin-right: 40px;
    border-radius: 10px;
}
    /* *FINE REGOLE BARRA* */

.table{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 25%;
}
.table > p:first-child{
    font-size: 12px;
}
.table > h1{
    font-size: 47px;
}
.table > p, h1{
    margin-bottom: 30px;
}
.bottone-bordo-grigio{
    padding: 10px 20px;
    border: 1px solid #bcbcbc;
    color: #bcbcbc;
    background-color: transparent;
    font-size: 11px;
    font-weight: 600;
}


/* *FINE REGOLE BEST TABLE* */
/* * fine HEADER* */

/* *INIZIO PRIMA SESSIONE SUSHI* */
#prima-sessione-sushi{
    background-color: white;
    height: 100%;
    min-height: 1200px;
}
#prima-sessione-sushi > .container-piccolo{
    transform: translateY(6%);
}

    /* *INIZIO PRIMA SESSIONE UP* */
.prima-sessione-up{
    display: flex;
    margin-bottom: 100px;
}

.firma{
    width: 52%;
    padding: 39px;
    padding-right: 120px;
    height: 600px;
    padding-left: 0;
}
.firma > p, h1{
    margin-bottom: calc(100% / 9.8);
    color: black;
}
.firma > p{
    line-height: 25px;
    font-size: 14.4px;
}

.firma > h1{
    font-size: 29px;
    line-height: 45px;
}


.immagine-sushi{
    background-image: url(../img/hover-image1.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: 99%;
    background-position: 6px;
    width: 48%;
}
    /* *FINE PRIMA SESSIONE UP* */


    /* *INIZIO PRIMA SESSIONE DOWN* */
.tipologie-sushi-lista{
    display: flex;
    
}
.tipologia-sushi-lista-elem{
    width: calc(100% / 3);
    text-align: center;
    list-style: none;
    padding: 20px;
}
.barra-grigio{
    border: 1px solid #bcbcbc;
    width: 75px;
    height: 0;
    border-radius: 10px;
    margin-left: 50%;
    transform: translateX(-50%) ;
}
.tipologia-sushi-lista-elem> p,
.barra-grigio,
.title,
.tipologia-sushi-lista-elem-img{
    margin-bottom: 20px;
}
.title{
    font-size: 18px;
}
.tipologia-sushi-lista-elem> p{
    line-height: 25px;
    font-size: 16px;
    color: black;
}
.button-sushi{
    padding: 10px 20px;
    background-color: transparent;
    border:1px solid #bcbcbc;
    font-size: 12px;
}

/* *FINE PRIMA SESSIONE SUSHI* */




/* *INIZIO SECONDA SESSIONE PIATTI SUSHI* */
.seconda-sessione-piatti-sushi{
    display: flex;
    min-height: 600px;
    width: 100%;
    
}
.immagine-piatti-sushi{
    background-image: url(../images/slider32x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 68%;
}
.best-table-2{
    display: flex;
    width: 45%;
    padding: 140px;
}
.table-2{
    width: 100%;
    /* color: white; */
}
.table-2 > p:first-child{
    font-size: 12px;
}
.table-2 > .title-table2{
    font-size: 27px;
}
.table-2 > .title-table2, .text-table2{
    margin-bottom: calc(100% / 4.2)
}
.table-2:last-child > .bottone-bordo-bianco{
    margin-bottom: 0;
}
/* *FINE SECONDA SESSIONE PIATTI SUSHI* */




/* *INIZIA TERZA SESSIONE RAGAZZA CHE CUCINA* */
    /* *INIZIO REGOLE CONTENITORI* */
.terza-sessione-ragazza-cucina{
    height: 1450px;
    background-color: white;
}
.terza-sessione-ragazza-cucina > .container-piccolo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
    /* *FINE REGOLE CONTENITORI* */

#title-terza-sessione,
#title-quinta-sessione{
    text-align: center;
    margin-bottom: 18px;
    font-size: 35px;
}
.barra-grigio-titoli{
    border: 1px solid #bcbcbc;
    width: 75px;
    height: 0;
    border-radius: 10px;
    margin-left: 50%;
    transform: translateX(-50%) ;
}
.stelle{
    list-style: none;
}
.stelle-link > i{
    margin-right: 4px;
    font-size: 13px;
}
    /* * INIZIO MEGGY STEWART* */
.container-immagini-sopra{
    display: flex;
    margin-top: 50px;
    /* background-color: lightpink; */
    margin-bottom: 40px;
}
.ragazza-cuoca{
    background-image: url(../images/blog72x-600x687.jpg);
    background-repeat: no-repeat;
    background-size: 104.5%;
    background-position-x: -7px;
    height: 598px;
    width: 50%;
}
.descrizione-meggy-stewart{
    width: 50%;
    height: 598px;
    padding: 74px 105px;
    background-color: black;
}
.descrizione-meggy-stewart > p, 
.paper-meggy, .stelle-meggy, .barra-meggy{
    margin-bottom: calc(100% / 6.9);
}
    /* * FINE MEGGY STEWART* */

.container-immagini-sotto{
    display: flex;
    background-color: white;
    height: 560px;
}
    /* *INIZIO MARY MAXEY* *INIZIO PATRICK MONROE**/

    /* * INIZIO DESCRIZIONI CUOCHI* */
.mary-maxey,
.patrick-monroe{ 
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    width: 50%;

}
.descrizione-mary-maxey,
.descrizione-patrick-monroe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 95%;
}
    /* * FINE DESCRIZIONI CUOCHI* */

    /* *INIZIO FOTO MARY E PATRICK* */
.mary-maxey{
    background-image: url(../images/info52x.jpg);
    margin-right: 4%;
}
.patrick-monroe{
    background-image: url(../images/info12x.jpg);
}
    /* *FINE FOTO MARY E PATRICK* */

    /* *INIZIO GRADAZIONE FOTO* */
.gradazione{
    height: 100%;
    padding: 80px 110px;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
    /* *FINE GRADAZIONE FOTO* */

    /* *FINE MARY MAXEY* *FINE PATRICK MONROE**/
/* *FINE TERZA SESSIONE RAGAZZA CHE CUCINA* */



/* *INIZIO QUARTA SESSIONE RAVIOLI* */
.quarta-sessione-foto-ravioli{
    background-image: url(../images/page52x.jpg);
    background-position-x: 44.2%;
    background-size: cover;
    height: 510px;
}
.gradazione2{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
.prezzo-piatto{
    height: 10%;
    font-size: 13px;
}

/* *FINE QUARTA SESSIONE RAVIOLI* */



/* *INIZIO QUINTA SESSIONE 3 FOTO* */
.quinta-sessione-3-foto{
    height: 850px;
    background-color: white;
    text-align: center;
}
.quinta-sessione-3-foto > .container-piccolo{
    transform: translateY(8%);
    height: 84.6%;
}
.barra-grigio-titoli-quinta-sessione {
    border: 1px solid #bcbcbc;
    width: 75px;
    height: 0;
    border-radius: 10px;
    margin-left: 50%;
    transform: translateX(-50%) ;
    margin-bottom: 36px;
}
.prodotti-nuovi{
    display: flex;
    justify-content: space-between;
    height: 550px;
}

.prodott-nuovo-immagine-caffe{
    background-image: url(../images/blog92x-400x458.jpg);
}
.prodott-nuovo-newMenu{
    background-image: url(../images/blog72x-400x458.jpg);
}
.prodott-nuovo-Bancomant{
    background-image: url(../images/blog82x-400x458.jpg);
}
.prodott-nuovo-immagine-caffe,
.prodott-nuovo-newMenu,
.prodott-nuovo-Bancomant{
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100%;
    margin-bottom: 20px;
}
.start{
    padding:28px;
}
.start > h3{
    font-size: 16px;
    margin-bottom: 10px;
}
.start > p{
    font-size: 12px;
}

/* *FINE QUINTA SESSIONE 3 FOTO* */

/* *INIZIO SESTA SESSIONE GIAPPONESI* */
.sesta-sessione-giapponesi{
    display: flex;
    min-height: 600px;
    width: 100%;
    /* background-color: aquamarine; */
}

.sesta-sessione-giapponesi-immagine{
    background-image: url(../images/slider72x-scaled.jpg);
    background-repeat: no-repeat;
    background-size: 103%;
    background-position: 50% 100%;
    height: auto;
    width: 68%;
}
.consegna-domicilio{
    display: flex;
    width: 45%;
    padding: 140px;
}
.domicilio{
    width: 100%;
    /* color: white; */
}
.domicilio > p:first-child{
    font-size: 12px;
}
.domicilio > .title-domicilio{
    font-size: 27px;
}
.domicilio > .title-domicilio, .text-domicilio{
    margin-bottom: calc(100% / 4.2)
}
.domicilio:last-child > .bottone-bordo-bianco{
    margin-bottom: 0;
}
.fa-car{
    margin-right: 5px;
}
/* *FINE SESTA SESSIONE GIAPPONESI* */



/* *INIZIO SETTIMA SESSIONE MENU*  */
.settima-sessione-menu{
    height: 800px;
    background-color: white;
    
}
.settima-sessione-menu > .container-grande{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.settima-sessione-menu-pagine{
    position: relative;
    width: 100%;
    /* background-color: lightskyblue; */
    
}
.pag1, .pag2, .pag3{
    display: inline-block;
    min-height: 600px;
    width: calc(100% / 3);
    position: absolute;
    
}
.pag1, .pag3{
    background-color: #e8e8e8;
    transform: translateY(-45%);
}
.pag3{
    right: 0;
}
.pag2{
    top: 51%;
    left: 50%;
    transform: translate(-50%, -51%);
    background-image: url(../images/misc22x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.gradazione3 {
    z-index: -1;
    position: inherit;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    
}

.distribuzione{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 57px 61px;
}
.settima-sessione-prezzo-piatto{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.settima-sessione-prezzo-piatto > h5{
    font-size: 16px;
}
.settima-sessione-prezzo-piatto > span{
    font-size: 13px;
}
/* *FINE SETTIMA SESSIONE MENU*  */

/* *INIZIO OTTAVA SESSIONE MENU*  */
.ottava-sessione-foto-abalone{
    height: 700px;
    background-image: url(../images/hero42x.jpg);
    background-size: cover;
    background-position: 50% 65%;
}
.ottava-sessione-foto-abalone > .container-piccolo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.ottava-sessione-descrizione-abalone{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 500px;
    width: 43%;
    padding: 70px 70px;
}

.ottava-sessione-descrizione-abalone-title{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
    width: 100%;
}
.ottava-sessione-descrizione-abalone-title > h2{
    font-size: 33px;
}
.ottava-sessione-descrizione-abalone-title > span{
    font-size: 14px;
    color:#bcbcbc;
}

/* *FINE OTTAVA SESSIONE MENU*  */



/* *REGOLE FOOTER* */

footer{
    
    height: 700px;
}
.up{
    background-image: url(../images/footer2x.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 108%;
    background-position: 6% 129%;
}
.container-social{
    height: 100%;
    width: 100%;
    /* background-color: whitesmoke; */
}

.social-ico{
    color: white;
}
.social-ico > a{
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 13px;
    margin-right: 8px;
    border-radius: 100%;
    padding: 10px;
}
a:first-child{
    padding: 10px 15px;
}
a:nth-last-child(2){
    padding: 10px 12px;
}
a:last-child{
    padding: 10px 12px;
}
.container-logo-footer-social{
    width: 100%;
    height: 100%;
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link-footer-logo-social{
    height: 350px;
    /* background-color: whitesmoke; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 36%;
    text-align: center;
    font-size: 19px;
}
.down{
    background-color: black;
    height: 70px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}